@{
    ViewBag.Title = "Home Page";
}
<div @*class="homeIndex"*@>
    <div class="jumbotron">
        <h1>Gamers Corner</h1>
        <p class="lead">Where gamge come not to die, but to re-spawn</p>
        @*<p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
    </div>

    <div class="row homeIndex">
        <div class="col-md-4">
            <img src="~/Content/images/gameHaul.jpg" />
        </div>        
    </div>
</div>