
@{
    ViewBag.Title = "Blood Borne";
}

        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../Content/images/_bloodborne/_BloodborneBackground.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1>Bloodborne</h1>
                                <h2>- on PlayStation 4 by From Software</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="fh5co-product">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 animate-box">
                        <div class="owl-carousel owl-carousel-fullwidth product-carousel">
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="box-img">
                                        <img src="~/Content/images/_bloodborne/_BloodborneBox.jpg" alt="Bloodborne Box Art">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_bloodborne/_DawnOverSquare.jpg" alt="Dawn over square">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_bloodborne/_FightingAMonsterInStreet.jpg" alt="Fighting monster in street">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_bloodborne/_MonsterInCemtery.jpg" alt="Monster in cemetery">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_bloodborne/_TorchesInStreet.jpg" alt="People with torches in street">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="row animate-box">
                            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                                <h2>Bloodbourne</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="fh5co-tabs animate-box">
                            <ul class="fh5co-tab-nav">
                                <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-file"></i></span><span class="hidden-xs">Product Details</span></a></li>
                                <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Specification</span></a></li>
                                <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-star"></i></span><span class="hidden-xs">Feedback &amp; Ratings</span></a></li>
                            </ul>
                            <!-- Tabs -->
                            <div class="fh5co-tab-content-wrap">
                                <div class="fh5co-tab-content tab-content active" data-tab-content="1">
                                    <div class="col-md-10 col-md-offset-1">
                                        <span class="price">SRP: $9.97</span>
                                        <h2>Bloodborne</h2>
                                        <p>Introducing Bloodborne, the latest Action RPG from renowned Japanese developer FromSoftware, exclusively for the PlayStation 4 system. Face your fears as you search for answers in the ancient city of Yharnam, now cursed with a strange endemic illness spreading through the streets like wildfire. Danger, death and madness lurk around every corner of this dark and horrific world, and you must discover its darkest secrets in order to survive. A Terrifying New World: Journey to a horror-filled gothic city where deranged mobs and nightmarish creatures lurk around every corner. Strategic Action Combat: Armed with a unique arsenal of weaponry, including guns and saw cleavers, you'll need wits, strategy and reflexes to take down the agile and intelligent enemies that guard the city's dark secrets. A New Generation of Action RPG: Stunningly detailed gothic environments, atmospheric lighting, and advanced new online experiences showcase the power and prowess of the PlayStation 4 system.</p>
                                    </div>
                                </div>
                                <div class="fh5co-tab-content tab-content" data-tab-content="2">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h3>Product Specification</h3>
                                        <div class=" a-section table-padding">
                                            <table id="productDetails_detailBullets_sections1" class="table" role="presentation">
                                                <tbody>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">ASIN</th>
                                                        <td class="a-size-base">B00KVR4HEC</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">Release date</th>
                                                        <td class="a-size-base">March 24, 2015</td>
                                                    </tr>
                                                    <tr><th class="a-color-secodary a-size-base prodDetSectionEntry">Product Dimensions</th><td class="a-size-base">0.5 x 5.3 x 6.7 inches; 3.2 ounces</td></tr>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">Media</th>
                                                        <td class="a-size-base">Video Game</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="fh5co-tab-content tab-content" data-tab-content="3">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h3>Happy Buyers</h3>
                                        <div class="feed">
                                            <div>
                                                <blockquote>
                                                    <p>This game is probably the most difficult game I've ever played, and probably will go down as one of the most difficult games of all time. Saying that, is it worth buying it? Absolutely. I was hesitant at first (I never played any soul games before this one), but I ended up buying it anyway. The game is a beauty from the first level to the last. A masterpiece puzzle is what I call it.</p>
                                                </blockquote>
                                                <h3>&mdash; Tony Wolf</h3>
                                                <span class="rate">
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <blockquote>
                                                    <p>Definitely one of the best games I've ever played. It took me a bit to figure out how to stay alive and take down the first few difficult enemy dino-bots, but once I got the techniques down, even dying felt really satisfying. That is an important quality for me, as someone who doesn't identify as a "gamer" but plays video games. The protagonist and storyline are rich and compelling.</p>
                                                </blockquote>
                                                <h3>&mdash; Janye Davids</h3>
                                                <span class="rate">
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>