
@{
    ViewBag.Title = "Horizon Zero Dawn";
}

        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../Content/images/_horizonzerodawn/_HorizonZeroDawnBackground.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1>Horizon Zero Dawn</h1>
                                <h2>- on PlayStation 4 by Guerrilla Games</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="fh5co-product">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 animate-box">
                        <div class="owl-carousel owl-carousel-fullwidth product-carousel">
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="box-img">
                                        <img src="~/Content/images/_horizonzerodawn/_HorizonZeroDawnBox.jpg" alt="Horizon Zero Dawn Box Art">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_horizonzerodawn/_LearningToShoot.jpg" alt="Learning to shoot arrow">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_horizonzerodawn/_MountainRangeAtSunset.jpg" alt="Mountain range at sunset">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_horizonzerodawn/_StockingACreature.jpg" alt="Hero stocking creature">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_horizonzerodawn/_HorizonZeroDawnRatings_.jpg" alt="Picture with game ratings">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="row animate-box">
                            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                                <h2>Horizon Zero Dawn</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="fh5co-tabs animate-box">
                            <ul class="fh5co-tab-nav">
                                <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-file"></i></span><span class="hidden-xs">Product Details</span></a></li>
                                <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Specification</span></a></li>
                                <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-star"></i></span><span class="hidden-xs">Feedback &amp; Ratings</span></a></li>
                            </ul>
                            <!-- Tabs -->
                            <div class="fh5co-tab-content-wrap">
                                <div class="fh5co-tab-content tab-content active" data-tab-content="1">
                                    <div class="col-md-10 col-md-offset-1">
                                        <span class="price">SRP: $21.50</span>
                                        <h2>Horizon Zero Dawn</h2>
                                        <strong>A Lush Post-Apocalyptic World </strong><p>How have machines dominated this world, and what is their purpose? What happened to the civilization here before? Scour every corner of a realm filled with ancient relics and mysterious buildings in order to uncover your past and unearth the many secrets of a forgotten land.</p>
                                        <strong>Nature and Machines Collide </strong><p>Horizon Zero Dawn juxtaposes two contrasting elements, taking a vibrant world rich with beautiful nature and filling it with awe-inspiring highly advanced technology. This marriage creates a dynamic combination for both exploration and gameplay.</p>
                                        <strong>Defy Overwhelming Odds </strong><p>The foundation of combat in Horizon Zero Dawn is built upon the speed and cunning of Aloy versus the raw strength and size of the machines. In order to overcome a much larger and technologically superior enemy, Aloy must use every ounce of her knowledge, intelligence, and agility to survive each encounter.</p>
                                        <strong>Cutting Edge Open World Tech </strong><p>Stunningly detailed forests, imposing mountains, and atmospheric ruins of a bygone civilization meld together in a landscape that is alive with changing weather systems and a full day/night cycle.</p>
                                    </div>
                                </div>
                                <div class="fh5co-tab-content tab-content" data-tab-content="2">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h3>Product Specification</h3>
                                        <div class=" a-section table-padding">
                                            <table id="productDetails_detailBullets_sections1" class="table" role="presentation">
                                                <tbody>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">ASIN</th>
                                                        <td class="a-size-base">B00ZQC73O8</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">Release date</th>
                                                        <td class="a-size-base">February 28, 2017</td>
                                                    </tr>
                                                    <tr><th class="a-color-secodary a-size-base prodDetSectionEntry">Product Dimensions</th><td class="a-size-base">0.6 x 5.6 x 6.8 inches; 4 ounces</td></tr>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">Media</th>
                                                        <td class="a-size-base">Video Game</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="fh5co-tab-content tab-content" data-tab-content="3">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h3>Happy Buyers</h3>
                                        <div class="feed">
                                            <div>
                                                <blockquote>
                                                    <p>Wow, this game is fantastic! The combat mechanics are very fun. Unlike most FPS games where you just point and shoot, the primitive weapons in this game require you to fire at enemies and dodge from their attacks. Some weapons are very unique, so you learn how to set up your enemies to fall into your traps or corrupt them to help you fight. The enemies themselves have varied strengths and weaknesses, too. It's been fun trying to figure out how to bring down, say, a deadly oversized leopard-like Ravager versus a massive lightning-ball shooting Stormbird flying overhead.</p>
                                                </blockquote>
                                                <h3>&mdash; JT Taylor</h3>
                                                <span class="rate">
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <blockquote>
                                                    <p>Definitely one of the best games I've ever played. It took me a bit to figure out how to stay alive and take down the first few difficult enemy dino-bots, but once I got the techniques down, even dying felt really satisfying. That is an important quality for me, as someone who doesn't identify as a "gamer" but plays video games. I'm never gonna be one of those braggarts who insult anyone in the most juvenile and offensive way for not being on the same level of gaming. If I'm dying and having to wait through a loading screen on a modern game 40 times in a row, that's going to be really frustrating and take away from the enjoyment. With Horizon, I'll say it again: it was SATISFYING to get beat by the enemies and have to adjust tactics. Beyond that, the protagonist and storyline are rich and compelling.</p>
                                                </blockquote>
                                                <h3>&mdash; Bert Honeyfellow</h3>
                                                <span class="rate">
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

