
@{
    ViewBag.Title = "Last Of Us";
}
        <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../Content/images/_lastofus/_LastOfUsRemasteredBackground.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1>Last of Us</h1>
                                <h2>- on PlayStation 4 by Naughty Dog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="fh5co-product">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 animate-box">
                        <div class="owl-carousel owl-carousel-fullwidth product-carousel">
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="box-img">
                                        <img src="~/Content/images/_lastofus/_LastOfUsRemasteredBox.jpg" alt="Last of Us Box Art">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_lastofus/_ElieHoldingRifle.jpg" alt="Ellie holding rifle">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_lastofus/_JoelAndElieLookingAtBridge.jpg" alt="Joel and Elie looking up at bridge" id="petermaryjane">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_lastofus/_JoelWithElieInsideDuringRain.jpg" alt="Joel and Elie inside during rain" id="petermaryjane">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_lastofus/_SurvivorsUnderAttack.jpg" alt="Survivors under attack" id="petermaryjane">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="row animate-box">
                            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                                <h2>Last of Us</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="fh5co-tabs animate-box">
                            <ul class="fh5co-tab-nav">
                                <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-file"></i></span><span class="hidden-xs">Product Details</span></a></li>
                                <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Specification</span></a></li>
                                <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-star"></i></span><span class="hidden-xs">Feedback &amp; Ratings</span></a></li>
                            </ul>
                            <!-- Tabs -->
                            <div class="fh5co-tab-content-wrap">
                                <div class="fh5co-tab-content tab-content active" data-tab-content="1">
                                    <div class="col-md-10 col-md-offset-1">
                                        <span class="price">SRP: $23.88</span>
                                        <h2>Last of Us</h2>
                                        <p>Winner of over 200 Game of the Year awards, The Last of Us has been rebuilt for the PlayStation 4 system. Now featuring full 1080p, higher resolution character models, improved shadows and lighting, in addition to several other gameplay improvements. 20 years after a pandemic has radically changed known civilization, infected humans run wild and survivors are killing each other for food, weapons; whatever they can get their hands on. Joel, a violent survivor, is hired to smuggle a 14 year-old girl, Ellie, out of an oppressive military quarantine zone, but what starts as a small job soon transforms into a brutal journey across the U.S. The Last of Us Remastered includes the Abandoned Territories Map Pack, Reclaimed Territories Map Pack, and the critically acclaimed The Last of Us: Left Behind Single Player campaign that combines themes of survival, loyalty, and love with tense, survival-action gameplay. Winner of over 200 Game of the Year awards Explore a brutal post-pandemic world, fully realized with the power of PlayStation 4 system.</p>
                                    </div>
                                </div>
                                <div class="fh5co-tab-content tab-content" data-tab-content="2">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h3>Product Specification</h3>
                                        <div class=" a-section table-padding">
                                            <table id="productDetails_detailBullets_sections1" class="table" role="presentation">
                                                <tbody>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">ASIN</th>
                                                        <td class="a-size-base">B00JK00S0S</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">Release date</th>
                                                        <td class="a-size-base">July 29, 2014</td>
                                                    </tr>
                                                    <tr><th class="a-color-secodary a-size-base prodDetSectionEntry">Product Dimensions</th><td class="a-size-base">0.6 x 5.3 x 6.7 inches; 2.4 ounces</td></tr>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">Media</th>
                                                        <td class="a-size-base">Video Game</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="fh5co-tab-content tab-content" data-tab-content="3">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h3>Happy Buyers</h3>
                                        <div class="feed">
                                            <div>
                                                <blockquote>
                                                    <p>A powerful display of love and death, conflict and resolution, and the steps we take to protect the ones we care about the most. The Last of Us gives you superior gameplay while also delivering a palpable story. However, if you are looking for a fast-paced shooter with lots of skull-cracking, you best keep looking. The Last of Us will have your heart pounding with different emotions, whether that be endearment or suspenseful nervousness.</p>
                                                </blockquote>
                                                <h3>&mdash; Pink Black</h3>
                                                <span class="rate">
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <blockquote>
                                                    <p>This is a top-tier game. I am a huge fan of zombie games and this one is really an exceptional experience. It is not of the Dying Light or Dead Rising style where hoards of zombies are always in your way, in fact you spend more time fighting other human survivors than zombies. But the characters and the story are really excellent, the visuals are stunning, and I find the game play mechanics fluid and pleasing to use. The premise of the weapons and tactics is based around realistic scarcity (of ammo, guns, everything) and that takes some getting used to if you come from other zombie games, but believe me it is worth it.</p>
                                                </blockquote>
                                                <h3>&mdash; Gordon Mills</h3>
                                                <span class="rate">
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>