
@{
    ViewBag.Title = "Spiderman";
}
        @*<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../Content/images/_spiderman/_SpidermanBackground.jpg);">*@

            <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"><video id="videoSize" preload="auto" autoplay loop muted>
                    <source src="~/Content/images/_spiderman/Untitled.mp4" type="video/mp4" />
                </video>

                @*<video id="videoSize" controls preload="auto" autoplay loop muted>
                    <source src="~/Content/images/_spiderman/Untitled.mp4" type="video/mp4" />
                </video>*@
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="display-t">
                                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                    <h1>Marvel’s Spider-Man</h1>
                                    <h2>- on PlayStation 4 by Insomniac Games</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

        <div id="fh5co-product">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 animate-box">
                        <div class="owl-carousel owl-carousel-fullwidth product-carousel">
                            <div class="item">
                                <div class="active text-center">
                                    <figure class="box-img">
                                        <img src="~/Content/images/_spiderman/_SpidermanBox.jpg" alt="Spiderman Box Art">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_spiderman/_SpidermanBackground.jpg" alt="Spiderman shoting web on dark background">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_spiderman/_BeSpiderman_.jpg" alt="Spiderman shoting web at face of man in suit">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_spiderman/_PeterParkerAndMaryJane.jpg" alt="Peter and Mary Jane">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-center">
                                    <figure class="petermaryjane">
                                        <img src="~/Content/images/_spiderman/_SpidermanWithGameRatings.jpg" alt="Spiderman with game reviews">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="row animate-box">
                            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                                <h2>Marvel's Spiderman</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="fh5co-tabs animate-box">
                            <ul class="fh5co-tab-nav">
                                <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-file"></i></span><span class="hidden-xs">Product Details</span></a></li>
                                <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Specification</span></a></li>
                                <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-star"></i></span><span class="hidden-xs">Feedback &amp; Ratings</span></a></li>
                            </ul>
                            <!-- Tabs -->
                            <div class="fh5co-tab-content-wrap">
                                <div class="fh5co-tab-content tab-content active" data-tab-content="1">
                                    <div class="col-md-10 col-md-offset-1">
                                        <span class="price">SRP: $39.99</span>
                                        <h2>Marvel's Spiderman</h2>
                                        <p>Marvel’s Spider-Man features your favorite web-slinger in a story unlike any before it. Now a seasoned Super Hero, Peter Parker has been busy keeping crime off the streets as Spider-Man. Just as he’s ready to focus on life as Peter, a new villain threatens New York City. Faced with overwhelming odds and higher stakes, Spider-Man must rise up and be greater.</p>

                                        <p>Sony Interactive Entertainment, Marvel and Insomniac Games present Marvel’s Spider-Man exclusively for PlayStation 4.<p>

                                            <strong>Be Spider-Man</strong>
                                        <p>After eight years behind the mask, Peter Parker is a crime-fighting master. Feel the full power of a more experienced Spider-Man with improvisational combat, dynamic acrobatics, fluid urban traversal, and environmental interactions. A rookie no longer, this is the most masterful Spider-Man you’ve ever played.</p>

                                        <strong>Worlds Collide</strong>
                                        <p>The worlds of Peter Parker and Spider-Man collide in an original action-packed story. In this new Spider-Man universe, iconic characters from Peter and Spider-Man’s lives have been reimagined, placing familiar characters in unique roles.<p>

                                            <strong>Marvel’s New York is Your Playground </strong>
                                        <p>The Big Apple comes to life as Insomniac’s most expansive and interactive world yet. Swing through vibrant neighborhoods and catch breathtaking views of iconic Marvel and Manhattan landmarks. Use the environment to defeat villains with epic takedowns in true blockbuster action.</p>
                                    </div>
                                </div>
                                <div class="fh5co-tab-content tab-content" data-tab-content="2">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h3>Product Specification</h3>
                                        <div class=" a-section table-padding">
                                            <table id="productDetails_detailBullets_sections1" class="table" role="presentation">
                                                <tbody>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">ASIN</th>
                                                        <td class="a-size-base">B01GW8YDLK</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">Release date</th>
                                                        <td class="a-size-base">September 7, 2018</td>
                                                    </tr>
                                                    <tr><th class="a-color-secodary a-size-base prodDetSectionEntry">Product Dimensions</th><td class="a-size-base">0.6 x 5.3 x 6.7 inches; 4 ounces</td></tr>
                                                    <tr>
                                                        <th class="a-color-secodary a-size-base prodDetSectionEntry">Media</th>
                                                        <td class="a-size-base">Video Game</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="fh5co-tab-content tab-content" data-tab-content="3">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h3>Happy Buyers</h3>
                                        <div class="feed">
                                            <div>
                                                <blockquote>
                                                    <p>So, Marvel's Spider-Man or Spider-Man PS4 was released today a few minutes ago in fact but I've been playing the game since late afternoon yesterday. I pre-ordered from Best Buy and got the game early as a result. When it comes to the character of Spider-Man, he's been my favorite superhero since a very young age and has remained so to this day. Grew up with the 90s show, the Sam Raimi films, and the videogames starting from the PS1 Spider-Man game which many fondly remember. I also grew up with Insomniac Games. Ratchet and Clank is probably my favorite gaming IP along with the older God of War games. So I went into this game with good expectations and my expectations were not only met but they were exceeded.</p>
                                                </blockquote>
                                                <h3>&mdash; Michael Knight</h3>
                                                <span class="rate">
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <blockquote>
                                                    <p>I’m 33 and this game is too much fun! No downgrading whatsoever! Paddles look beautiful lol you can find long reviews, I’ll just keep it simple: this game delivers! If you want to play as Spider-Man, then you’re gonna have a lot of fun!</p>
                                                </blockquote>
                                                <h3>&mdash; Joefrey Mills</h3>
                                                <span class="rate">
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                    <i class="icon-star2"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


